*{
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
}
.logo{
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
}
.nav div{
    padding: 20px;
    margin: 10px;
}
.nav ul{
    text-decoration: none;
    display: flex;
    gap: 40px;
    padding: 20px;
    font-size: 1.8rem;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav li{
    list-style: none;
}
h2{
    font-size: 1.5em;
    padding-bottom: 1em;
}
main{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 3em; 
}
header{
    text-align: center;
    margin: auto 2em;
}
section{
    margin: auto 1em 4em 2em;
}
i{
    margin-right: 10px;
}
p{
    margin: .2em auto;
}
h1,h2{
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft{
    border-right: 1px solid lightgray;
}
header h1{
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

